
*:focus {
    outline: none;
}

body {
    background-color: #2f3237;
    color: white;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

select {
  margin-right: 10px;
}

#ed-view {
    cursor: text;
    border: 1px solid #0000;
}

#ed-view:focus-within .ed-cursor  {
    visibility: visible;
}

.ed-line {
    line-height: 20px;
    height: 20px;
}

.ed-cursor {
    display: inline-block;
    width: 1px;
    height: 20px;
    position: absolute;
    visibility: hidden;
}
